.ProseMirror {
  background-color: var(--bg-100);
  overflow: hidden;
  font-size: large;
}

.ProseMirror p {
  margin-block: 0.5rem;
}

.ProseMirror h1 {
  margin-top: 2rem;
  margin-bottom: 0;
}

.ProseMirror > * > h1:first-of-type {
  margin-top: 0;
}

.ProseMirror h2 {
  margin-top: 1.3rem;
  margin-bottom: 0;
}

.ProseMirror h3 {
  margin-top: 0.8rem;
  margin-bottom: 0;
}

.ProseMirror blockquote {
  background-color: var(--bg-200);
  padding: 0.8rem 1rem;
  border: 1px solid var(--border-100);
  border-radius: 0.3rem;
  margin: 0;
  margin-block: 1rem;
}

.ProseMirror strong {
  font-weight: 900;
  color: var(--primary-100);
}

.ProseMirror ol,
.ProseMirror ul {
  padding-left: 2rem;
}

.ProseMirror a {
  text-decoration: underline;
  color: var(--primary-100);
}

.ProseMirror > p {
  font-size: large;
}

.ProseMirror > * > hr {
  margin-block: 1.5rem;
}