$primary: #d35459;
$secondary: #5c5c5c;
$accent: #9c27b0;

$dark: #141414;

$positive: #2cbd83;
$negative: #9B1C31;
$info: #31ccec;
$warning: #f2c037;

// $button-line-height: 1rem;
$h1: (size: 3rem,     line-height: 3.5rem,     letter-spacing: -.01562em, weight: 500) !default;
$h2: (size: 2rem,     line-height: 2.5rem,     letter-spacing: -.01562em, weight: 400) !default;
$h3: (size: 1.5rem,   line-height: 1.8rem,   letter-spacing: -.01562em, weight: 400) !default;

// $h2: (size: 3rem,     line-height: 3rem,     letter-spacing: -.01562em, weight: 500) !default;

$input-font-size: 16px;
