@charset "utf-8";

$primary: #d35459;
$secondary: #fffcf7;
$info: #7c98b3;
$link: #495867;
$danger: #ce796b;
$warning: #f4d35e;
$success: #c2d8b9;

$navbar-height: 3rem;
$navbar-item-img-max-height: 3rem;

@import "../node_modules/bulma/bulma.sass";